﻿@model MVCBase.SrvN4Ref.vwUnits

@{
    if(Convert.ToBoolean(ViewBag.index))
    {
        bool approved = ViewBag.approved;
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @if (approved)
                    {
                        <i class="fa fa-fw fa-check-circle fa-5x" style="margin: 0 auto"></i>
                    }
                    else
                    {
                        <i class="fa fa-fw fa-times-circle fa-5x" style="margin: 0 auto"></i>
                    }
                </div>
            </div>
        </div>
    }
}    

@*<div class="row">
    <label class="control-label col-md-4"><strong>Contenedor:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="subject" style="font-style:italic">@Model.UnitNbr</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Tipo:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="cliente" style="font-style:italic">@Model.EquipmentType</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Buque:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="prioridad" style="font-style:italic">@Model.vesselVisit</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>POD:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="asignadoA" style="font-style:italic">@Model.POD</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Naviera:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="fechaCreado" style="font-style:italic">@Model.EquipmentOperatorName</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Sello #1:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="fechaAsignado" style="font-style:italic">@Model.SealNbr1</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Sello #2:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="fechaActualizado" style="font-style:italic">@Model.SealNbr2</label>
        </div>
    </div>
</div>


<div class="row">
    <label class="control-label col-md-4"><strong>Sello #3: </strong></label>
    <div class="col-md-5">
        <div class="form-group">
                <label id="asignadoPor" style="font-style:italic">@Model.SealNbr3</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Categoria:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
                <label id="horasAsigno" style="font-style:italic">@Model.category</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Status:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
                <label id="rendimiento" style="font-style:italic">@Model.FreightKind</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Booking</strong></label>
    <div class="col-md-5">
        <div class="form-group">
                <label id="slaPlan" style="font-style:italic">@Model.unitRemark</label>
        </div>
    </div>
</div> 

<div class="row">
    <label class="control-label col-md-4"><strong>Hazard Cutoff:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
                <label id="slaPlan" style="font-style:italic">@Model.unitRemark</label>
        </div>
    </div>
</div>  

<div class="row">
    <label class="control-label col-md-4"><strong>Dry Cutoff:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
                <label id="slaPlan" style="font-style:italic">@Model.unitRemark</label>
        </div>
    </div>
</div>  

<div class="row">
    <label class="control-label col-md-4"><strong>Reefer Cuttof:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
                <label id="slaPlan" style="font-style:italic">@Model.unitRemark</label>
        </div>
    </div>
</div>   *@