﻿@model MVCBase.SrvN4Ref.vwAppts

@{
    bool approved = ViewBag.approved;    
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @if(approved)
                {
                    <i class="fa fa-fw fa-check-circle fa-5x" style="margin: 0 auto"></i>
                }
                else
                {
                    <i class="fa fa-fw fa-times-circle fa-5x" style="margin: 0 auto"></i>
                }
            </div>
        </div>
    </div>
}    


@*<div class="row">
    <label class="control-label col-md-4"><strong>Transaccion:</strong></label>
    <div class="col-md-5">
        <div class="form-group

            <label id="subject" style="font-style:italic">@Model.</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>N4 Appointment:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="cliente" style="font-style:italic">@Model.id</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Fecha de Ingreso:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="prioridad" style="font-style:italic">@Model.start_date</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Horario de Ingreso:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="asignadoA" style="font-style:italic">@Model.start_date.TimeOfDay + " " + @Model.end_date.TimeOfDay</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Contenedor:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="fechaCreado" style="font-style:italic">@Model.ctr_id</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Tipo Contenedor:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="fechaAsignado" style="font-style:italic">@Model.ctr_eqtyp_gkey</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Linea Naviera:</strong></label>
    <div class="col-md-5">
        <div class="form-group">
            <label id="fechaActualizado" style="font-style:italic">@Model.line_op_gkey</label>
        </div>
    </div>
</div>*@
