﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script>
	    if (!window.jQuery) {
	        document.write('<script src="~/js/libs/jquery-2.0.2.min.js"><\/script>');
	    }
	</script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script>
	    if (!window.jQuery.ui) {
	        document.write('<script src="~/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
	    }
	</script>
    @*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>*@
@*    <script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
	<script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
	<script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
	<script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
	<script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>*@
    <meta charset="utf-8" />
    <title> OPC </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
		<meta name="author" content="">
			
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/font-awesome.min.css">
        
		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production.min.css">
    	<link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-skins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/googleSkin.css">

		<!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/demo.min.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="~/image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="~/image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="X-UA-Compatible" content="IE=8">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

        <script type="text/javascript">
            function getInfo(value) {
                var url = '/PreGate/PartialInfo';
                var xhr = new window.XMLHttpRequest();
                xhr.open('GET', url + "/" + value, false);
                xhr.send();
            }

            function modalClick(value) {
                var url = '/PreGate/PartialInfo';
                var xhr = new window.XMLHttpRequest();
                xhr.open('GET', url + "/" + value, false);
                xhr.send();
                document.getElementById("selectModal").innerHTML = xhr.responseText;
                var title = (isNaN(value) ? 'Unit' : 'Appointment');
                InitPopup($("#selectModal"), title);
                $("#selectModal").dialog("open");
                $("#selectModal").dialog('widget').position({
                    my: "center",
                    at: "center",
                    of: "window"
                });
            }

            function InitPopup($element, title) {
                $element.dialog({
                    autoOpen: false,
                    width: "auto",
                    height: "auto",
                    resizable: true,
                    draggable: true,
                    title: title,
                    modal: true,
                    my: "center",
                    at: "center",
                    of: "window",
                    show: 'slide',
                    closeText: 'X',
                    dialogClass: 'alert',
                    closeOnEscape: true,
                    open: function (event, ui) {
                        $(".ui-widget-overlay").click(function () {
                            $("#selectModal").dialog("close");
                        });
                    },
                    close: function () {
                        $(this).dialog('close');
                    }
                });
            }
    </script>
        
</head>

<body class="smart-style-3" style="padding-top: 5%">
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> @ViewBag.seccion <span>> @ViewBag.view</span></h1>
        </div>
    </div>
    <form action="@Url.Action("PartialInfo", "PreGate")" method="POST">
    <div class="row">
        @{
            if(!Convert.ToBoolean(ViewBag.index))
            {
                bool approved = ViewBag.approved;
                string mensaje = ViewBag.mensaje;
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            @if (approved)
                            {
                                <div style="margin-left: 1%"><strong>@mensaje</strong></div>;
                            }
                            else
                            {
                                <div style="margin-left: 1%"><strong>@mensaje</strong></div>;
                            }
                        </div>
                    </div>
                </div>
            }
        }    
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="unitapp" name="id" class="form-control" placeholder="Unit / Appointment"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="submit" class="btn btn-primary" value="Consultar"/>
            <a href="@Url.Action("LogOut", "Account")" class="btn btn-primary">Salir</a>
        </div>
    </div>
    </form>
</div>
    <div id="selectModal" title="" style="overflow: hidden; background-color: white; border-bottom-width: 5px; background-color: white"></div>
</body>
</html>