﻿<aside id="left-panel">

			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
					
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						@*<img src="img/avatars/sunny.png" alt="me" class="online" />*@ 
						<span>
							@User.Identity.Name
						</span>
						<i class="fa fa-angle-down"></i>
					</a> 
					
				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
			<nav>
				<!-- NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul>
                    @if (User.IsInRole("ccg_cotizacion") || User.IsInRole("ccg_admin") || User.IsInRole("ccg_consulta"))
                    {
					    <li>
						    <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">PreGate</span></a>
						    <ul>
                                @if (User.IsInRole("ccg_cotizacion") || User.IsInRole("ccg_admin"))
                                {
							        <li>
								        <a href="@Url.Action("Index", "PreGate")">Busqueda</a>
							        </li>
                                 }
							    @*<li>
								    <a href="~/Inspeccion/Create">Crear Inspeccion</a>
							    </li>*@
						    </ul>
					    </li>
                    }
				</ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>

		</aside>
